@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
body {
  background-color: theme('colors.background-light');
  color: theme('colors.text-light');
  transition: background-color 0.3s, color 0.3s;
}

/* Dark mode styles */
.dark body {
  background-color: theme('colors.background-dark');
  color: theme('colors.text-dark');
}
